.booking-calendar {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
}

.btn:disabled {
  background-color: grey;
  border: none;
}

.media {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  h2 {
    text-align: center;
  }

  .booking-calendar {
    font-size: 0.7rem;
  }

  .venue-image {
    margin-bottom: 2rem;
  }

  .venue-info {
    padding: 10px 12px;
  }
}
