.react-calendar__tile:disabled {
  background-color: #f5f5f5;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.sunday {
  color: var(--bs-danger);
}

.react-calendar__tile--now {
  background-color: var(--bs-warning);
}

.react-calendar__tile--active {
  background-color: var(--primary-color);
  color: white;
}
.react-calendar button:enabled:hover {
  background-color: var(--primary-color);
  color: white;
}

.react-calendar__tile--active:enabled:focus {
  background-color: var(--primary-color);
}
